<h1>Projeto De Previsao de Compras</h1>
<h2>Versao.: 1.2</h2>
<h2>Data.:   14/12/2018  17:20</h2>

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
from math import sqrt
from sklearn.metrics import mean_squared_error 

dateparse = lambda dates: pd.datetime.strptime(dates, '%d.%m.%Y %H:%M:%S')
dataFrame = pd.read_csv(r"C:\Users\PC\Estudos\Data Science\Ajuste Media de Compra\datasets\VENDA-GAM-343.CSV", 
                        sep=";", parse_dates = ['dt_venda'], index_col = 'dt_venda', date_parser = dateparse)

In [4]:
dataFrame.head()

            cd_empresa  cd_mercadoria  qt_vendida
dt_venda
2016-01-01           1         117661         616
2016-02-01           1         117661         207
2016-03-01           1         117661         584
2016-04-01           1         117661         236
2016-05-01           1         117661        1002

dataFrame[(dataFrame['cd_mercadoria'] == 117661) & (dataFrame['cd_empresa'] == 1)].sort_values(by=['dt_venda'],ascending=False)

In [5]:
def buscarDataAtual():
    data_atual = datetime.today()
    data_em_texto = '{}-{}-{}'.format(data_atual.year, data_atual.month, '01')
    return data_em_texto

In [6]:
def calcularErro(dataAtual):
    for i, df in enumerate(arrayDeDataFrame):
        if (len(df) > 7):
            aVendida = df.iloc[-6:, 3].values
            j = 1
            while j <= 12:
                aMM = df.iloc[-8:-2, j+2].values
                erroMM = sqrt(mean_squared_error(aVendida, aMM))
                df.loc[dataAtual, 'MM'+str(j)] = erroMM
                j+=1

In [7]:
def adicionarIndicesFaltantes(df):
    idx = pd.date_range(min(df.index), dataAtual, freq='MS')
    df.index = pd.DatetimeIndex(df.index)
    df = df.reindex(idx, fill_value=0)
    return df

In [16]:
def calcularMediaMovel(arrayDeDataFrame):
    j = 1
    while j <= 12:
        arrayDeDataFrame[len(arrayDeDataFrame)-1]['MM'+str(j)] = \
            arrayDeDataFrame[len(arrayDeDataFrame)-1]['qt_vendida'].rolling(j).mean()
        j += 1
    return arrayDeDataFrame

In [9]:
#dataFrame.drop(index=dataFrame.loc[dataFrame['dt_venda'] == '2018-01-11'].index)
#df = df.drop(df[df.score < 50].index)
dataAtual = buscarDataAtual()
dataFrame = dataFrame[dataFrame.index != dataAtual]

In [17]:
arrayMercadoria = dataFrame['cd_mercadoria'].unique()
arrayEmpresa = [1, 4, 5]
#arrayMercadoria = [117661]
#arrayEmpresa = [1]

arrayDeDataFrame = []

for emp in arrayEmpresa:
    i = 0
    for i, mer in enumerate(arrayMercadoria):
        df = dataFrame[(dataFrame['cd_mercadoria'] == mer) & 
                      (dataFrame['cd_empresa'] == emp)].sort_values(by=['dt_venda'],ascending=True)
        
        if (len(df) > 0):
            df = adicionarIndicesFaltantes(df) 
            arrayDeDataFrame.append(df)                
            arrayDeDataFrame = calcularMediaMovel(arrayDeDataFrame)
            
            
        arrayDeDataFrame[len(arrayDeDataFrame)-1].fillna(0, inplace=True)

IndexError: list index out of range

In [11]:
arrayDeDataFrame[0]

,cd_empresa,cd_mercadoria,qt_vendida,MM1,MM2,MM3,MM4,MM5,MM6,MM7,MM8,MM9,MM10,MM11,MM12
2016-01-01,1,117661,616,616.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
2016-02-01,1,117661,207,207.000000,411.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
2016-03-01,1,117661,584,584.000000,395.500000,469.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
2016-04-01,1,117661,236,236.000000,410.000000,342.333333,410.750000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
2016-05-01,1,117661,1002,1002.000000,619.000000,607.333333,507.250000,529.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
2016-06-01,1,117661,261,261.000000,631.500000,499.666667,520.750000,458.000000,484.333333,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
2016-07-01,1,117661,974,974.000000,617.500000,745.666667,618.250000,611.400000,544.000000,554.285714,0.00000,0.000000,0.000000,0.000000,0.000000
2016-08-01,1,117661,524,524.000000,749.000000,586.333333,690.250000,599.400000,596.833333,541.142857,550.50000,0.000000,0.000000,0.000000,0.000000
2016-09-01,0,0,0,0.000000,262.000000,499.333333,439.750000,552.200000,499.500000,511.571429,473.50000,489.333333,0.000000,0.000000,0.000000
2016-10-01,0,0,0,0.000000,0.000000,174.666667,374.500000,351.800000,460.166667,428.142857,447.62500,420.888889,440.400000,0.000000,0.000000
2016-11-01,1,117661,906,906.000000,453.000000,302.000000,357.500000,480.800000,444.166667,523.857143,487.87500,498.555556,469.400000,482.727273,0.000000
2016-12-01,1,117661,713,713.000000,809.500000,539.666667,404.750000,428.600000,519.500000,482.571429,547.50000,512.888889,520.000000,491.545455,501.916667
2017-01-01,1,117661,788,788.000000,750.500000,802.333333,601.750000,481.400000,488.500000,557.857143,520.75000,574.222222,540.400000,544.363636,516.250000
2017-02-01,1,117661,494,494.000000,641.000000,665.000000,725.250000,580.200000,483.500000,489.285714,549.87500,517.777778,566.200000,536.181818,540.166667
2017-03-01,1,117661,868,868.000000,681.000000,716.666667,715.750000,753.800000,628.166667,538.428571,536.62500,585.222222,552.800000,593.636364,563.833333
2017-04-01,1,117661,500,500.000000,684.000000,620.666667,662.500000,672.600000,711.500000,609.857143,533.62500,532.555556,576.700000,548.000000,585.833333
2017-05-01,1,117661,645,645.000000,572.500000,671.000000,626.750000,659.000000,668.000000,702.000000,614.25000,546.000000,543.800000,582.909091,556.083333
2017-06-01,1,117661,632,632.000000,638.500000,592.333333,661.250000,627.800000,654.500000,662.857143,693.25000,616.222222,554.600000,551.818182,587.000000
2017-07-01,1,117661,365,365.000000,498.500000,547.333333,535.500000,602.000000,584.000000,613.142857,625.62500,656.777778,591.100000,537.363636,536.250000
2017-08-01,1,117661,1070,1070.000000,717.500000,689.000000,678.000000,642.400000,680.000000,653.428571,670.25000,675.000000,698.100000,634.636364,581.750000
2017-09-01,1,117661,469,469.000000,769.500000,634.666667,634.000000,636.200000,613.500000,649.857143,630.37500,647.888889,654.400000,677.272727,620.833333
2017-10-01,1,117661,219,219.000000,344.000000,586.000000,530.750000,551.000000,566.666667,557.142857,596.00000,584.666667,605.000000,614.818182,639.083333
2017-11-01,1,117661,1289,1289.000000,754.000000,659.000000,761.750000,682.400000,674.000000,669.857143,648.62500,673.000000,655.100000,667.181818,671.000000
2017-12-01,1,117661,165,165.000000,727.000000,557.666667,535.500000,642.400000,596.166667,601.285714,606.75000,594.888889,622.200000,610.545455,625.333333
2018-01-01,1,117661,609,609.000000,387.000000,687.666667,570.500000,550.200000,636.833333,598.000000,602.25000,607.000000,596.300000,621.000000,610.416667
2018-02-01,1,117661,548,548.000000,578.500000,440.666667,652.750000,566.000000,549.833333,624.142857,591.75000,596.222222,601.100000,591.909091,614.916667
2018-03-01,1,117661,299,299.000000,423.500000,485.333333,405.250000,582.000000,521.500000,514.000000,583.50000,559.222222,566.500000,573.636364,567.500000
2018-04-01,1,117661,503,503.000000,401.000000,450.000000,489.750000,424.800000,568.833333,518.857143,512.62500,574.555556,553.600000,560.727273,567.750000
2018-05-01,1,117661,292,292.000000,397.500000,364.666667,410.500000,450.200000,402.666667,529.285714,490.50000,488.111111,546.300000,529.818182,538.333333
2018-06-01,1,117661,422,422.000000,357.000000,405.666667,379.000000,412.800000,445.500000,405.428571,515.87500,482.888889,481.500000,535.000000,520.833333
2018-07-01,1,117661,437,437.000000,429.500000,383.666667,413.500000,390.600000,416.833333,444.285714,409.37500,507.111111,478.300000,477.454545,526.833333
2018-08-01,1,117661,393,393.000000,415.000000,417.333333,386.000000,409.400000,391.000000,413.428571,437.87500,407.555556,495.700000,470.545455,470.416667
2018-09-01,1,117661,442,442.000000,417.500000,424.000000,423.500000,397.200000,414.833333,398.285714,417.00000,438.333333,411.000000,490.818182,468.166667
2018-10-01,1,117661,322,322.000000,382.000000,385.666667,398.500000,403.200000,384.666667,401.571429,388.75000,406.444444,426.700000,402.909091,476.750000
2018-11-01,1,117661,250,250.000000,286.000000,338.000000,351.750000,368.800000,377.666667,365.428571,382.62500,373.333333,390.800000,410.636364,390.166667
2018-12-01,1,117661,488,488.000000,369.000000,353.333333,375.500000,379.000000,388.666667,393.428571,380.75000,394.333333,384.800000,399.636364,417.083333
2019-01-01,1,117661,1050,1050.000000,769.000000,596.000000,527.500000,510.400000,490.833333,483.142857,475.50000,455.111111,459.900000,445.272727,453.833333
2019-02-01,0,0,0,397.414561,324.705222,306.084544,297.504639,289.687227,287.329893,290.538835,288.06772,291.995215,287.480967,287.908386,292.322410

In [31]:
min(dict(arrayDeDataFrame[356].iloc[-1, 4:]), key=dict(arrayDeDataFrame[356].iloc[-1, 4:]).get)

'MM2'

In [32]:
arrayDeDataFrame[356][min(dict(arrayDeDataFrame[356].iloc[-1, 4:]), 
                        key=dict(arrayDeDataFrame[356].iloc[-1, 4:]).get)][len(arrayDeDataFrame[356])-2]

0.0

In [16]:
resultados = []

for i in range(0, len(arrayDeDataFrame)):
    modelo = min(dict(arrayDeDataFrame[i].iloc[-1, 4:]), key=dict(arrayDeDataFrame[i].iloc[-1, 4:]).get)
    qt_previsao = arrayDeDataFrame[i][min(dict(arrayDeDataFrame[i].iloc[-1, 4:]), key=dict(arrayDeDataFrame[i].iloc[-1, 4:]).get)][len(arrayDeDataFrame[i])-2]
    erro = arrayDeDataFrame[i][min(dict(arrayDeDataFrame[i].iloc[-1, 4:]), key=dict(arrayDeDataFrame[i].iloc[-1, 4:]).get)][len(arrayDeDataFrame[i])-1]
    dt_previsao = arrayDeDataFrame[i].index[-1]
    cod_mercadoria = arrayDeDataFrame[i].iloc[:,1].unique().max()
    cod_empresa = arrayDeDataFrame[i].iloc[:,0].unique().max()
    lista = [modelo, qt_previsao, dt_previsao, cod_mercadoria, cod_empresa, erro ]
    resultados.append(lista)

    
dfR = pd.DataFrame(resultados,columns=['modelo', 'qt_previsao', 'dt_previsao', 'cd_mercadoria','cd_empresa', 'RMSE'])
dfR

     modelo  qt_previsao dt_previsao  cd_mercadoria  cd_empresa         RMSE
0       MM5   318.800000  2018-12-01         117661           1   181.453825
1       MM2   297.500000  2018-12-01         117679           1   200.610430
2       MM2   550.500000  2018-12-01         117687           1  2044.825722
3       MM2   147.500000  2018-12-01         117700           1   117.778385
4       MM5   366.800000  2018-12-01         117718           1   211.825752
5      MM10    46.100000  2018-12-01         117726           1    26.825849
6      MM10   571.100000  2018-12-01         118120           1   279.267835
7       MM5   111.600000  2018-12-01         118138           1    80.992496
8      MM10   142.800000  2018-12-01         120795           1    69.879332
9      MM10  3161.400000  2018-12-01         126652           1  1615.616815
10      MM8     1.375000  2018-12-01         126660           1     2.092454
11      MM2   129.000000  2018-12-01         126686           1   112.135060
12      MM9   156.555556  2018-12-01         126709           1   203.698536
13      MM2   236.000000  2018-12-01         126717           1   237.106774
14      MM9  4794.222222  2018-12-01         126725           1  3202.795109
15     MM10   503.600000  2018-12-01         126733           1   268.038487
16      MM2    44.000000  2018-12-01         127941           1    46.697281
17      MM9   152.333333  2018-12-01         127959           1    78.285230
18      MM7     9.000000  2018-12-01         127967           1    26.674300
19      MM2   312.500000  2018-12-01         127975           1   208.398311
20      MM3    19.666667  2018-12-01         127983           1    48.063687
21      MM3    94.666667  2018-12-01         128002           1    92.835861
22     MM11   110.545455  2018-12-01         131322           1    83.742270
23      MM2     0.000000  2018-12-01         131330           1     0.000000
24      MM3   469.333333  2018-12-01         135326           1   635.560537
25     MM12   442.333333  2018-12-01         135334           1   679.601429
26      MM3   382.000000  2018-12-01         135342           1   267.879432
27     MM12   312.583333  2018-12-01         135350           1   189.018077
28      MM8   163.250000  2018-12-01         135368           1   210.955875
29      MM5   522.400000  2018-12-01         135376           1   640.491323
...     ...          ...         ...            ...         ...          ...
1190   MM12     0.333333  2018-12-01         480501           5     0.474372
1191    MM7     1.571429  2018-12-01         480519           5     1.434820
1192    MM2     0.000000  2018-12-01         480527           5     0.000000
1193    MM2     0.000000  2018-12-01         489628           5     0.000000
1194   MM12     5.000000  2018-12-01         490776           5     4.514741
1195    MM2     0.000000  2018-12-01         494958           5     0.000000
1196    MM4    12.250000  2018-12-01         496625           5     7.379708
1197    MM2     0.000000  2018-12-01         503935           5     0.000000
1198    MM9     2.222222  2018-12-01         506438           5     1.729855
1199   MM12     0.166667  2018-12-01         506446           5     0.171473
1200   MM12    12.916667  2018-12-01         506454           5     7.392058
1201   MM12     0.166667  2018-12-01         506462           5     0.305823
1202   MM12     3.250000  2018-12-01         506470           5     2.207089
1203    MM6     7.500000  2018-12-01         506488           5     9.016685
1204    MM3    27.333333  2018-12-01         506496           5    14.409763
1205    MM3    10.000000  2018-12-01         506501           5    12.402746
1206    MM2     0.000000  2018-12-01         506519           5     0.000000
1207    MM2     0.000000  2018-12-01         507874           5     0.000000
1208   MM12     0.750000  2018-12-01         507882           5     0.883967
1209    MM2     0.000000  2018-12-01         507890           5     0.000000
1210    MM2     0.000000  2018-12-01         507905           5     0.000000
1211   MM12     0.500000  2018-12-01         507913           5     0.691460
1212    MM2     0.000000  2018-12-01         507921           5     0.000000
1213   MM12     2.333333  2018-12-01         507939           5     2.762634
1214   MM12     0.250000  2018-12-01         507947           5     0.237186
1215   MM12     0.166667  2018-12-01         508757           5     0.218600
1216    MM2     0.000000  2018-12-01         532748           5     0.000000
1217    MM2     0.000000  2018-12-01         533265           5     0.000000
1218    MM2     0.000000  2018-12-01         533273           5     0.000000
1219    MM2     0.000000  2018-12-01         535835           5     0.000000

[1220 rows x 6 columns]