<h1>Projeto De Previsao de Compras</h1>
<h2>Versao.: 1.2</h2>
<h2>Data.:   14/12/2018  17:20</h2>

In [27]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
from math import sqrt
from sklearn.metrics import mean_squared_error 

dateparse = lambda dates: pd.datetime.strptime(dates, '%d.%m.%Y %H:%M:%S')
dataFrame = pd.read_csv(r"C:\Macros\EMS-GERMED.CSV", 
                        sep=";", parse_dates = ['dt_venda'], index_col = 'dt_venda', date_parser = dateparse)

In [30]:
dataFrame.head()

            cd_empresa  cd_mercadoria  qt_vendida
dt_venda
2014-01-01           1         117661         382
2014-02-01           1         117661         325
2014-03-01           1         117661         715
2014-04-01           1         117661         300
2014-05-01           1         117661          81

dataFrame[(dataFrame['cd_mercadoria'] == 117661) & (dataFrame['cd_empresa'] == 1)].sort_values(by=['dt_venda'],ascending=False)

In [3]:
def buscarDataAtual():
    data_atual = datetime.today()
    data_em_texto = '{}-{}-{}'.format(data_atual.year, data_atual.month, '01')
    return data_em_texto

In [25]:
def calcularErro(dataAtual):
    for i, df in enumerate(arrayDeDataFrame):
        if (len(df) > 7):
            aVendida = df.iloc[-6:, 3].values
            j = 1
            while j <= 12:
                aMM = df.iloc[-8:-2, j+2].values
                erroMM = sqrt(mean_squared_error(aVendida, aMM))
                df.loc[dataAtual, 'MM'+str(j)] = erroMM
                j+=1

In [23]:
def adicionarIndicesFaltantes(df):
    idx = pd.date_range(min(df.index), dataAtual, freq='MS')
    df.index = pd.DatetimeIndex(df.index)
    df = df.reindex(idx, fill_value=0)
    return df

In [24]:
def calcularMediaMovel(arrayDeDataFrame):
    j = 1
    while j <= 12:
        arrayDeDataFrame[len(arrayDeDataFrame)-1]['MM'+str(j)] = arrayDeDataFrame[len(arrayDeDataFrame)-1]['qt_vendida'].rolling(j).mean()
        j += 1
    return arrayDeDataFrame

In [15]:
#dataFrame.drop(index=dataFrame.loc[dataFrame['dt_venda'] == '2018-01-11'].index)
#df = df.drop(df[df.score < 50].index)
dataAtual = buscarDataAtual()
dataFrame = dataFrame[dataFrame.index != dataAtual]

In [28]:
arrayMercadoria = dataFrame['cd_mercadoria'].unique()
arrayEmpresa = [1, 4, 5]
#arrayMercadoria = [117661]
#arrayEmpresa = [1]

arrayDeDataFrame = []

for emp in arrayEmpresa:
    i = 0
    for i, mer in enumerate(arrayMercadoria):
        df = dataFrame[(dataFrame['cd_mercadoria'] == mer) & 
                      (dataFrame['cd_empresa'] == emp)].sort_values(by=['dt_venda'],ascending=True)
        
        if (len(df) > 0):
            df = adicionarIndicesFaltantes(df) 
            arrayDeDataFrame.append(df)                
            arrayDeDataFrame = calcularMediaMovel(arrayDeDataFrame)
            
            
        arrayDeDataFrame[len(arrayDeDataFrame)-1].fillna(0, inplace=True)
         
calcularErro(dataAtual)

In [30]:
arrayDeDataFrame[356]

,cd_empresa,cd_mercadoria,qt_vendida,MM1,MM2,MM3,MM4,MM5,MM6,MM7,MM8,MM9,MM10,MM11,MM12
2014-04-01,1,330201,52,52.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2014-05-01,1,330201,41,41.0,46.5,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2014-06-01,1,330201,-1,-1.0,20.0,30.666667,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2014-07-01,0,0,0,0.0,-0.5,13.333333,23.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2014-08-01,1,330201,59,59.0,29.5,19.333333,24.75,30.2,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2014-09-01,1,330201,56,56.0,57.5,38.333333,28.50,31.0,34.500000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2014-10-01,1,330201,0,0.0,28.0,38.333333,28.75,22.8,25.833333,29.571429,0.000,0.000000,0.0,0.000000,0.000000
2014-11-01,1,330201,1,1.0,0.5,19.000000,29.00,23.2,19.166667,22.285714,26.000,0.000000,0.0,0.000000,0.000000
2014-12-01,1,330201,0,0.0,0.5,0.333333,14.25,23.2,19.333333,16.428571,19.500,23.111111,0.0,0.000000,0.000000
2015-01-01,1,330201,15,15.0,7.5,5.333333,4.00,14.4,21.833333,18.714286,16.250,19.000000,22.3,0.000000,0.000000
2015-02-01,1,330201,43,43.0,29.0,19.333333,14.75,11.8,19.166667,24.857143,21.750,19.222222,21.4,24.181818,0.000000
2015-03-01,1,330201,51,51.0,47.0,36.333333,27.25,22.0,18.333333,23.714286,28.125,25.000000,22.4,24.090909,26.416667
2015-04-01,1,330201,33,33.0,42.0,42.333333,35.50,28.4,23.833333,20.428571,24.875,28.666667,25.8,23.363636,24.833333
2015-05-01,1,330201,22,22.0,27.5,35.333333,37.25,32.8,27.333333,23.571429,20.625,24.555556,28.0,25.454545,23.250000
2015-06-01,1,330201,25,25.0,23.5,26.666667,32.75,34.8,31.500000,27.000000,23.750,21.111111,24.6,27.727273,25.416667
2015-07-01,1,330201,29,29.0,27.0,25.333333,27.25,32.0,33.833333,31.142857,27.250,24.333333,21.9,25.000000,27.833333
2015-08-01,1,330201,37,37.0,33.0,30.333333,28.25,29.2,32.833333,34.285714,31.875,28.333333,25.6,23.272727,26.000000
2015-09-01,1,330201,38,38.0,37.5,34.666667,32.25,30.2,30.666667,33.571429,34.750,32.555556,29.3,26.727273,24.500000
2015-10-01,1,330201,44,44.0,41.0,39.666667,37.00,34.6,32.500000,32.571429,34.875,35.777778,33.7,30.636364,28.166667
2015-11-01,1,330201,21,21.0,32.5,34.333333,35.00,33.8,32.333333,30.857143,31.125,33.333333,34.3,32.545455,29.833333
2015-12-01,1,330201,0,0.0,10.5,21.666667,25.75,28.0,28.166667,27.714286,27.000,27.666667,30.0,31.181818,29.833333
2016-01-01,1,330201,6,6.0,3.0,9.000000,17.75,21.8,24.333333,25.000000,25.000,24.666667,25.5,27.818182,29.083333
2016-02-01,1,330201,0,0.0,3.0,2.000000,6.75,14.2,18.166667,20.857143,21.875,22.222222,22.2,23.181818,25.500000
2016-03-01,1,330201,0,0.0,0.0,2.000000,1.50,5.4,11.833333,15.571429,18.250,19.444444,20.0,20.181818,21.250000
2016-04-01,0,0,0,0.0,0.0,0.000000,1.50,1.2,4.500000,10.142857,13.625,16.222222,17.5,18.181818,18.500000
2016-05-01,0,0,0,0.0,0.0,0.000000,0.00,1.2,1.000000,3.857143,8.875,12.111111,14.6,15.909091,16.666667
2016-06-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,1.000000,0.857143,3.375,7.888889,10.9,13.272727,14.583333
2016-07-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.857143,0.750,3.000000,7.1,9.909091,12.166667
2016-08-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.750,0.666667,2.7,6.454545,9.083333
2016-09-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.666667,0.6,2.454545,5.916667
2016-10-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.6,0.545455,2.250000
2016-11-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.545455,0.500000
2016-12-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.500000
2017-01-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2017-02-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2017-03-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2017-04-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2017-05-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2017-06-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2017-07-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2017-08-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2017-09-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2017-10-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2017-11-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2017-12-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2018-01-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2018-02-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2018-03-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2018-04-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2018-05-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2018-06-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2018-07-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2018-08-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2018-09-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2018-10-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2018-11-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000
2018-12-01,0,0,0,0.0,0.0,0.000000,0.00,0.0,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000

In [31]:
min(dict(arrayDeDataFrame[356].iloc[-1, 4:]), key=dict(arrayDeDataFrame[356].iloc[-1, 4:]).get)

'MM2'

In [32]:
arrayDeDataFrame[356][min(dict(arrayDeDataFrame[356].iloc[-1, 4:]), 
                        key=dict(arrayDeDataFrame[356].iloc[-1, 4:]).get)][len(arrayDeDataFrame[356])-2]

0.0

In [16]:
resultados = []

for i in range(0, len(arrayDeDataFrame)):
    modelo = min(dict(arrayDeDataFrame[i].iloc[-1, 4:]), key=dict(arrayDeDataFrame[i].iloc[-1, 4:]).get)
    qt_previsao = arrayDeDataFrame[i][min(dict(arrayDeDataFrame[i].iloc[-1, 4:]), key=dict(arrayDeDataFrame[i].iloc[-1, 4:]).get)][len(arrayDeDataFrame[i])-2]
    erro = arrayDeDataFrame[i][min(dict(arrayDeDataFrame[i].iloc[-1, 4:]), key=dict(arrayDeDataFrame[i].iloc[-1, 4:]).get)][len(arrayDeDataFrame[i])-1]
    dt_previsao = arrayDeDataFrame[i].index[-1]
    cod_mercadoria = arrayDeDataFrame[i].iloc[:,1].unique().max()
    cod_empresa = arrayDeDataFrame[i].iloc[:,0].unique().max()
    lista = [modelo, qt_previsao, dt_previsao, cod_mercadoria, cod_empresa, erro ]
    resultados.append(lista)

    
dfR = pd.DataFrame(resultados,columns=['modelo', 'qt_previsao', 'dt_previsao', 'cd_mercadoria','cd_empresa', 'RMSE'])
dfR

     modelo  qt_previsao dt_previsao  cd_mercadoria  cd_empresa         RMSE
0       MM5   318.800000  2018-12-01         117661           1   181.453825
1       MM2   297.500000  2018-12-01         117679           1   200.610430
2       MM2   550.500000  2018-12-01         117687           1  2044.825722
3       MM2   147.500000  2018-12-01         117700           1   117.778385
4       MM5   366.800000  2018-12-01         117718           1   211.825752
5      MM10    46.100000  2018-12-01         117726           1    26.825849
6      MM10   571.100000  2018-12-01         118120           1   279.267835
7       MM5   111.600000  2018-12-01         118138           1    80.992496
8      MM10   142.800000  2018-12-01         120795           1    69.879332
9      MM10  3161.400000  2018-12-01         126652           1  1615.616815
10      MM8     1.375000  2018-12-01         126660           1     2.092454
11      MM2   129.000000  2018-12-01         126686           1   112.135060
12      MM9   156.555556  2018-12-01         126709           1   203.698536
13      MM2   236.000000  2018-12-01         126717           1   237.106774
14      MM9  4794.222222  2018-12-01         126725           1  3202.795109
15     MM10   503.600000  2018-12-01         126733           1   268.038487
16      MM2    44.000000  2018-12-01         127941           1    46.697281
17      MM9   152.333333  2018-12-01         127959           1    78.285230
18      MM7     9.000000  2018-12-01         127967           1    26.674300
19      MM2   312.500000  2018-12-01         127975           1   208.398311
20      MM3    19.666667  2018-12-01         127983           1    48.063687
21      MM3    94.666667  2018-12-01         128002           1    92.835861
22     MM11   110.545455  2018-12-01         131322           1    83.742270
23      MM2     0.000000  2018-12-01         131330           1     0.000000
24      MM3   469.333333  2018-12-01         135326           1   635.560537
25     MM12   442.333333  2018-12-01         135334           1   679.601429
26      MM3   382.000000  2018-12-01         135342           1   267.879432
27     MM12   312.583333  2018-12-01         135350           1   189.018077
28      MM8   163.250000  2018-12-01         135368           1   210.955875
29      MM5   522.400000  2018-12-01         135376           1   640.491323
...     ...          ...         ...            ...         ...          ...
1190   MM12     0.333333  2018-12-01         480501           5     0.474372
1191    MM7     1.571429  2018-12-01         480519           5     1.434820
1192    MM2     0.000000  2018-12-01         480527           5     0.000000
1193    MM2     0.000000  2018-12-01         489628           5     0.000000
1194   MM12     5.000000  2018-12-01         490776           5     4.514741
1195    MM2     0.000000  2018-12-01         494958           5     0.000000
1196    MM4    12.250000  2018-12-01         496625           5     7.379708
1197    MM2     0.000000  2018-12-01         503935           5     0.000000
1198    MM9     2.222222  2018-12-01         506438           5     1.729855
1199   MM12     0.166667  2018-12-01         506446           5     0.171473
1200   MM12    12.916667  2018-12-01         506454           5     7.392058
1201   MM12     0.166667  2018-12-01         506462           5     0.305823
1202   MM12     3.250000  2018-12-01         506470           5     2.207089
1203    MM6     7.500000  2018-12-01         506488           5     9.016685
1204    MM3    27.333333  2018-12-01         506496           5    14.409763
1205    MM3    10.000000  2018-12-01         506501           5    12.402746
1206    MM2     0.000000  2018-12-01         506519           5     0.000000
1207    MM2     0.000000  2018-12-01         507874           5     0.000000
1208   MM12     0.750000  2018-12-01         507882           5     0.883967
1209    MM2     0.000000  2018-12-01         507890           5     0.000000
1210    MM2     0.000000  2018-12-01         507905           5     0.000000
1211   MM12     0.500000  2018-12-01         507913           5     0.691460
1212    MM2     0.000000  2018-12-01         507921           5     0.000000
1213   MM12     2.333333  2018-12-01         507939           5     2.762634
1214   MM12     0.250000  2018-12-01         507947           5     0.237186
1215   MM12     0.166667  2018-12-01         508757           5     0.218600
1216    MM2     0.000000  2018-12-01         532748           5     0.000000
1217    MM2     0.000000  2018-12-01         533265           5     0.000000
1218    MM2     0.000000  2018-12-01         533273           5     0.000000
1219    MM2     0.000000  2018-12-01         535835           5     0.000000

[1220 rows x 6 columns]