<h1>Projeto De Previsao de Compras</h1>
<h2>Versao.: 1.0</h2>
<h2>Data.:   07/12/2018</h2>
<p>Criar um dataframe com os resultados e a media movel que foi adquirido</p>

In [32]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
from math import sqrt
from sklearn.metrics import mean_squared_error 

dateparse = lambda dates: pd.datetime.strptime(dates, '%d.%m.%Y %H:%M:%S')

#windows
#dataFrame = pd.read_csv(r"C:\Users\Paulo Cesar\Estudos\Data Science\Ajuste Media de Compra\VENDA-GAM-343.CSV", 
                        #sep=";", parse_dates = ['dt_venda'], index_col = 'dt_venda', date_parser = dateparse)

#Linux
dataFrame = pd.read_csv(r"/home/pc/Estudos/Data Science/Ajuste Media de Compra/VENDA-GAM-343.CSV", 
                        sep=";", parse_dates = ['dt_venda'], index_col = 'dt_venda', date_parser = dateparse)
    
#Windows
#dataFrame = pd.read_csv(r"C:\Users\Paulo Cesar\Estudos\Data Science\Ajuste Media de Compra\\VENDA-GAM-343.CSV",sep=";")

#Linux
#dataFrame = pd.read_csv(r"/home/pc/Estudos/Data Science/Ajuste Media de Compra/VENDA-GAM-343.CSV",sep=";")

#dataFrame['dt_venda'] = pd.to_datetime(dataFrame['dt_venda'])

#dataFrame.index = pd.to_datetime(dataFrame.index)

dataFrame

In [2]:
#dataFrame.drop(index=dataFrame.loc[dataFrame['dt_venda'] == '2018-01-11'].index)
#df = df.drop(df[df.score < 50].index)
dataAtual = buscarDataAtual()
dataFrame = dataFrame[dataFrame.index != dataAtual]

dataFrame[(dataFrame['cd_mercadoria'] == 117661) & (dataFrame['cd_empresa'] == 1)].sort_values(by=['dt_venda'],ascending=False)

In [44]:
def buscarDataAtual():
    data_atual = datetime.today()
    data_em_texto = '{}-{}-{}'.format(data_atual.year, data_atual.month, '01')
    return data_em_texto

In [49]:
def calcularErro(dataAtual):
    for i, df in enumerate(arrayDeDataFrame):
        if (len(df) > 6):
            aVendida = df.iloc[-6:, 3].values
            j = 1
            while j <= 12:
                aMM = df.iloc[-8:-2, j+2].values
                erroMM = sqrt(mean_squared_error(aVendida, aMM))
                df.loc[dataAtual, 'MM'+str(j)] = erroMM;
                j+=1

In [50]:
arrayMercadoria = dataFrame['cd_mercadoria'].unique()
arrayEmpresa = [1, 4, 5]
#arrayMercadoria = [117661]
#arrayEmpresa = [1]

arrayDeDataFrame = []



for emp in arrayEmpresa:
    i = 0
    for i, mer in enumerate(arrayMercadoria):
        df = dataFrame[(dataFrame['cd_mercadoria'] == mer) & 
                      (dataFrame['cd_empresa'] == emp)].sort_values(by=['dt_venda'],ascending=True)
        
        if (len(df) > 0):
            idx = pd.date_range(min(df.index), dataAtual, freq='MS')
            df.index = pd.DatetimeIndex(df.index)
            df = df.reindex(idx, fill_value=0)
            
            arrayDeDataFrame.append(df)                
            
            j = 1
            while j <= 12:
                arrayDeDataFrame[len(arrayDeDataFrame)-1]['MM'+str(j)] = arrayDeDataFrame[len(arrayDeDataFrame)-1]['qt_vendida'].rolling(j).mean()
                j += 1
            
        arrayDeDataFrame[len(arrayDeDataFrame)-1].fillna(0, inplace=True)
         
calcularErro(dataAtual)

In [51]:
arrayDeDataFrame[100]

,cd_empresa,cd_mercadoria,qt_vendida,MM1,MM2,MM3,MM4,MM5,MM6,MM7,MM8,MM9,MM10,MM11,MM12
2016-01-01,1,181107,0,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2016-02-01,1,181107,0,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2016-03-01,1,181107,282,282.000000,141.00000,94.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2016-04-01,1,181107,487,487.000000,384.50000,256.333333,192.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2016-05-01,1,181107,747,747.000000,617.00000,505.333333,379.000000,303.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2016-06-01,1,181107,367,367.000000,557.00000,533.666667,470.750000,376.600000,313.833333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2016-07-01,1,181107,214,214.000000,290.50000,442.666667,453.750000,419.400000,349.500000,299.571429,0.000000,0.000000,0.000000,0.000000,0.000000
2016-08-01,1,181107,409,409.000000,311.50000,330.000000,434.250000,444.800000,417.666667,358.000000,313.250000,0.000000,0.000000,0.000000,0.000000
2016-09-01,0,0,0,0.000000,204.50000,207.666667,247.500000,347.400000,370.666667,358.000000,313.250000,278.444444,0.000000,0.000000,0.000000
2016-10-01,0,0,0,0.000000,0.00000,136.333333,155.750000,198.000000,289.500000,317.714286,313.250000,278.444444,250.600000,0.000000,0.000000
2016-11-01,1,181107,641,641.000000,320.50000,213.666667,262.500000,252.800000,271.833333,339.714286,358.125000,349.666667,314.700000,286.090909,0.000000
2016-12-01,1,181107,773,773.000000,707.00000,471.333333,353.500000,364.600000,339.500000,343.428571,393.875000,404.222222,392.000000,356.363636,326.666667
2017-01-01,1,181107,275,275.000000,524.00000,563.000000,422.250000,337.800000,349.666667,330.285714,334.875000,380.666667,391.300000,381.363636,349.583333
2017-02-01,1,181107,152,152.000000,213.50000,400.000000,460.250000,368.200000,306.833333,321.428571,308.000000,314.555556,357.800000,369.545455,362.250000
2017-03-01,1,181107,340,340.000000,246.00000,255.666667,385.000000,436.200000,363.500000,311.571429,323.750000,311.555556,317.100000,356.181818,367.083333
2017-04-01,1,181107,226,226.000000,283.00000,239.333333,248.250000,353.200000,401.166667,343.857143,300.875000,312.888889,303.000000,308.818182,345.333333
2017-05-01,1,181107,164,164.000000,195.00000,243.333333,220.500000,231.400000,321.666667,367.285714,321.375000,285.666667,298.000000,290.363636,296.750000
2017-06-01,1,181107,109,109.000000,136.50000,166.333333,209.750000,198.200000,211.000000,291.285714,335.000000,297.777778,268.000000,280.818182,275.250000
2017-07-01,1,181107,205,205.000000,157.00000,159.333333,176.000000,208.800000,199.333333,210.142857,280.500000,320.555556,288.500000,262.272727,274.500000
2017-08-01,1,181107,95,95.000000,150.00000,136.333333,143.250000,159.800000,189.833333,184.428571,195.750000,259.888889,298.000000,270.909091,248.333333
2017-09-01,1,181107,148,148.000000,121.50000,149.333333,139.250000,144.200000,157.833333,183.857143,179.875000,190.444444,248.700000,284.363636,260.666667
2017-10-01,1,181107,76,76.000000,112.00000,106.333333,131.000000,126.600000,132.833333,146.142857,170.375000,168.333333,179.000000,233.000000,267.000000
2017-11-01,1,181107,107,107.000000,91.50000,110.333333,106.500000,126.200000,123.333333,129.142857,141.250000,163.333333,162.200000,172.454545,222.500000
2017-12-01,1,181107,98,98.000000,102.50000,93.666667,107.250000,104.800000,121.500000,119.714286,125.250000,136.444444,156.800000,156.363636,166.250000
2018-01-01,1,181107,43,43.000000,70.50000,82.666667,81.000000,94.400000,94.500000,110.285714,110.125000,116.111111,127.100000,146.454545,146.916667
2018-02-01,1,181107,137,137.000000,90.00000,92.666667,96.250000,92.200000,101.500000,100.571429,113.625000,113.111111,118.200000,128.000000,145.666667
2018-03-01,1,181107,119,119.000000,128.00000,99.666667,99.250000,100.800000,96.666667,104.000000,102.875000,114.222222,113.700000,118.272727,127.250000
2018-04-01,1,181107,81,81.000000,100.00000,112.333333,95.000000,95.600000,97.500000,94.428571,101.125000,100.444444,110.900000,110.727273,115.166667
2018-05-01,1,181107,176,176.000000,128.50000,125.333333,128.250000,111.200000,109.000000,108.714286,104.625000,109.444444,108.000000,116.818182,116.166667
2018-06-01,1,181107,154,154.000000,165.00000,137.000000,132.500000,133.400000,118.333333,115.428571,114.375000,110.111111,113.900000,112.181818,119.916667
2018-07-01,1,181107,79,79.000000,116.50000,136.333333,122.500000,121.800000,124.333333,112.714286,110.875000,110.444444,107.000000,110.727273,109.416667
2018-08-01,1,181107,98,98.000000,88.50000,110.333333,126.750000,117.600000,117.833333,120.571429,110.875000,109.444444,109.200000,106.181818,109.666667
2018-09-01,1,181107,134,134.000000,116.00000,103.666667,116.250000,128.200000,120.333333,120.142857,122.250000,113.444444,111.900000,111.454545,108.500000
2018-10-01,1,181107,162,162.000000,148.00000,131.333333,118.250000,125.400000,133.833333,126.285714,125.375000,126.666667,118.300000,116.454545,115.666667
2018-11-01,1,181107,30,30.000000,96.00000,108.666667,106.000000,100.600000,109.500000,119.000000,114.250000,114.777778,117.000000,110.272727,109.250000
2018-12-01,0,0,0,97.233396,61.40168,46.426017,46.316637,49.744007,46.291198,45.324522,47.214625,45.129049,44.275768,45.263900,44.171739

In [30]:
min(dict(arrayDeDataFrame[100].iloc[-1, 4:]), key=dict(arrayDeDataFrame[100].iloc[-1, 4:]).get)

'MM12'

In [31]:
arrayDeDataFrame[100][min(dict(arrayDeDataFrame[100].iloc[-1, 4:]), 
                        key=dict(arrayDeDataFrame[100].iloc[-1, 4:]).get)][len(arrayDeDataFrame[100])-2]

106.75