In [323]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
from math import sqrt
from sklearn.metrics import mean_squared_error 

dateparse = lambda dates: pd.datetime.strptime(dates, '%d.%m.%Y %H:%M:%S')
dataFrame = pd.read_csv(r"C:\Users\Paulo Cesar\Estudos\Data Science\Ajuste Media de Compra\VENDA-GAM-343.CSV", 
                        sep=";", parse_dates = ['dt_venda'], index_col = 'dt_venda', date_parser = dateparse)

#dataFrame = pd.read_csv(r"C:\Users\Paulo Cesar\Estudos\Data Science\Ajuste Media de Compra\VENDA-GAM-343.CSV",sep=";")
#dataFrame['dt_venda'] = pd.to_datetime(dataFrame['dt_venda'])

#dataFrame.index = pd.to_datetime(dataFrame.index)

In [291]:
dataFrame.index.dtype

dtype('<M8[ns]')

In [324]:
#dataFrame.drop(index=dataFrame.loc[dataFrame['dt_venda'] == '2018-01-11'].index)
#df = df.drop(df[df.score < 50].index)
dataFrame = dataFrame[dataFrame.index != '2018-01/11']

In [325]:
dataFrame[(dataFrame['cd_mercadoria'] == 117661) & (dataFrame['cd_empresa'] == 1)].sort_values(by=['dt_venda'],ascending=False)

            cd_empresa  cd_mercadoria  qt_vendida
dt_venda
2018-11-01           1         117661          39
2018-10-01           1         117661         322
2018-09-01           1         117661         442
2018-08-01           1         117661         393
2018-07-01           1         117661         437
2018-06-01           1         117661         422
2018-05-01           1         117661         292
2018-04-01           1         117661         503
2018-03-01           1         117661         299
2018-02-01           1         117661         548
2018-01-01           1         117661         609
2017-12-01           1         117661         165
2017-11-01           1         117661        1289
2017-10-01           1         117661         219
2017-09-01           1         117661         469
2017-08-01           1         117661        1070
2017-07-01           1         117661         365
2017-06-01           1         117661         632
2017-05-01           1         117661         645
2017-04-01           1         117661         500
2017-03-01           1         117661         868
2017-02-01           1         117661         494
2017-01-01           1         117661         788
2016-12-01           1         117661         713
2016-11-01           1         117661         906
2016-08-01           1         117661         524
2016-07-01           1         117661         974
2016-06-01           1         117661         261
2016-05-01           1         117661        1002
2016-04-01           1         117661         236
2016-03-01           1         117661         584
2016-02-01           1         117661         207
2016-01-01           1         117661         616

In [326]:
#arrayMercadoria = dataFrame['cd_mercadoria'].unique()
#arrayEmpresa = [1, 4, 5]
arrayMercadoria = [117661]
arrayEmpresa = [1]
#arrayMercadoria = [535835]
#arrayEmpresa = [5]

arrayDeDataFrame = []

for emp in arrayEmpresa:
    i = 0
    for i, mer in enumerate(arrayMercadoria):
        df = dataFrame[(dataFrame['cd_mercadoria'] == mer) & 
                      (dataFrame['cd_empresa'] == emp)].sort_values(by=['dt_venda'],ascending=True)
        arrayDeDataFrame.append(df)                
        
        j = 1
        while j <= 12:
            arrayDeDataFrame[len(arrayDeDataFrame)-1]['MM'+str(j)] = arrayDeDataFrame[len(arrayDeDataFrame)-1]['qt_vendida'].rolling(j).mean()
            j += 1
            
        arrayDeDataFrame[len(arrayDeDataFrame)-1].fillna(0, inplace=True)

In [334]:
last_date = arrayDeDataFrame[0].iloc[[-1]].index
last_date

DatetimeIndex(['2018-11-01'], dtype='datetime64[ns]', name='dt_venda', freq=None)

In [335]:
for i, df in enumerate(arrayDeDataFrame):
    if (len(df) > 6):
        aVendida = df.iloc[-6:, 3].values
        #df.at[len(df)+1, 'dt_venda'] = 'EMQ'
        #df.at[len(df)+1, 'dt_venda'] = datetime.now()
        last_date = df.iloc[[-1]].index
        df.append(pd.DataFrame(index=[last_date]), sort=False)
        j = 1
        while j <= 12:        
            aMM = df.iloc[-8:-2, j+3].values
            erroMM = sqrt(mean_squared_error(aVendida, aMM))        
            df.at[len(df), 'MM'+str(j)] = erroMM 
            j+=1

TypeError: cannot insert DatetimeIndex with incompatible label

In [255]:
arrayDeDataFrame[0]

,dt_venda,cd_empresa,cd_mercadoria,qt_vendida,MM1,MM2,MM3,MM4,MM5,MM6,MM7,MM8,MM9,MM10,MM11,MM12
0,2016-01-01 00:00:00,1.0,117661.0,616.0,616.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2016-01-02 00:00:00,1.0,117661.0,207.0,207.00000,411.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2016-01-03 00:00:00,1.0,117661.0,584.0,584.00000,395.500000,469.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,2016-01-04 00:00:00,1.0,117661.0,236.0,236.00000,410.000000,342.333333,410.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2016-01-05 00:00:00,1.0,117661.0,1002.0,1002.00000,619.000000,607.333333,507.250000,529.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,2016-01-06 00:00:00,1.0,117661.0,261.0,261.00000,631.500000,499.666667,520.750000,458.000000,484.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,2016-01-07 00:00:00,1.0,117661.0,974.0,974.00000,617.500000,745.666667,618.250000,611.400000,544.000000,554.285714,0.000000,0.000000,0.000000,0.000000,0.000000
7,2016-01-08 00:00:00,1.0,117661.0,524.0,524.00000,749.000000,586.333333,690.250000,599.400000,596.833333,541.142857,550.500000,0.000000,0.000000,0.000000,0.000000
8,2016-01-11 00:00:00,1.0,117661.0,906.0,906.00000,715.000000,801.333333,666.250000,733.400000,650.500000,641.000000,586.750000,590.000000,0.000000,0.000000,0.000000
9,2016-01-12 00:00:00,1.0,117661.0,713.0,713.00000,809.500000,714.333333,779.250000,675.600000,730.000000,659.428571,650.000000,600.777778,602.300000,0.000000,0.000000
10,2017-01-01 00:00:00,1.0,117661.0,788.0,788.00000,750.500000,802.333333,732.750000,781.000000,694.333333,738.285714,675.500000,665.333333,619.500000,619.181818,0.000000
11,2017-01-02 00:00:00,1.0,117661.0,494.0,494.00000,641.000000,665.000000,725.250000,685.000000,733.166667,665.714286,707.750000,655.333333,648.200000,608.090909,608.750000
12,2017-01-03 00:00:00,1.0,117661.0,868.0,868.00000,681.000000,716.666667,715.750000,753.800000,715.500000,752.428571,691.000000,725.555556,676.600000,668.181818,629.750000
13,2017-01-04 00:00:00,1.0,117661.0,500.0,500.00000,684.000000,620.666667,662.500000,672.600000,711.500000,684.714286,720.875000,669.777778,703.000000,660.545455,654.166667
14,2017-01-05 00:00:00,1.0,117661.0,645.0,645.00000,572.500000,671.000000,626.750000,659.000000,668.000000,702.000000,679.750000,712.444444,667.300000,697.727273,659.250000
15,2017-01-06 00:00:00,1.0,117661.0,632.0,632.00000,638.500000,592.333333,661.250000,627.800000,654.500000,662.857143,693.250000,674.444444,704.400000,664.090909,692.250000
16,2017-01-07 00:00:00,1.0,117661.0,365.0,365.00000,498.500000,547.333333,535.500000,602.000000,584.000000,613.142857,625.625000,656.777778,643.500000,673.545455,639.166667
17,2017-01-08 00:00:00,1.0,117661.0,1070.0,1070.00000,717.500000,689.000000,678.000000,642.400000,680.000000,653.428571,670.250000,675.000000,698.100000,682.272727,706.583333
18,2017-01-09 00:00:00,1.0,117661.0,469.0,469.00000,769.500000,634.666667,634.000000,636.200000,613.500000,649.857143,630.375000,647.888889,654.400000,677.272727,664.500000
19,2017-01-10 00:00:00,1.0,117661.0,219.0,219.00000,344.000000,586.000000,530.750000,551.000000,566.666667,557.142857,596.000000,584.666667,605.000000,614.818182,639.083333
20,2017-01-11 00:00:00,1.0,117661.0,1289.0,1289.00000,754.000000,659.000000,761.750000,682.400000,674.000000,669.857143,648.625000,673.000000,655.100000,667.181818,671.000000
21,2017-01-12 00:00:00,1.0,117661.0,165.0,165.00000,727.000000,557.666667,535.500000,642.400000,596.166667,601.285714,606.750000,594.888889,622.200000,610.545455,625.333333
22,2018-01-01 00:00:00,1.0,117661.0,609.0,609.00000,387.000000,687.666667,570.500000,550.200000,636.833333,598.000000,602.250000,607.000000,596.300000,621.000000,610.416667
23,2018-01-02 00:00:00,1.0,117661.0,548.0,548.00000,578.500000,440.666667,652.750000,566.000000,549.833333,624.142857,591.750000,596.222222,601.100000,591.909091,614.916667
24,2018-01-03 00:00:00,1.0,117661.0,299.0,299.00000,423.500000,485.333333,405.250000,582.000000,521.500000,514.000000,583.500000,559.222222,566.500000,573.636364,567.500000
25,2018-01-04 00:00:00,1.0,117661.0,503.0,503.00000,401.000000,450.000000,489.750000,424.800000,568.833333,518.857143,512.625000,574.555556,553.600000,560.727273,567.750000
26,2018-01-05 00:00:00,1.0,117661.0,292.0,292.00000,397.500000,364.666667,410.500000,450.200000,402.666667,529.285714,490.500000,488.111111,546.300000,529.818182,538.333333
27,2018-01-06 00:00:00,1.0,117661.0,422.0,422.00000,357.000000,405.666667,379.000000,412.800000,445.500000,405.428571,515.875000,482.888889,481.500000,535.000000,520.833333
28,2018-01-07 00:00:00,1.0,117661.0,437.0,437.00000,429.500000,383.666667,413.500000,390.600000,416.833333,444.285714,409.375000,507.111111,478.300000,477.454545,526.833333
29,2018-01-08 00:00:00,1.0,117661.0,393.0,393.00000,415.000000,417.333333,386.000000,409.400000,391.000000,413.428571,437.875000,407.555556,495.700000,470.545455,470.416667
30,2018-01-09 00:00:00,1.0,117661.0,442.0,442.00000,417.500000,424.000000,423.500000,397.200000,414.833333,398.285714,417.000000,438.333333,411.000000,490.818182,468.166667
31,2018-01-10 00:00:00,1.0,117661.0,322.0,322.00000,382.000000,385.666667,398.500000,403.200000,384.666667,401.571429,388.750000,406.444444,426.700000,402.909091,476.750000
33,EMQ,NaN,NaN,NaN,115.74613,70.784591,81.988256,97.004993,65.498448,121.703039,110.481676,107.159587,137.873929,131.621984,147.133782,150.932158

In [190]:
min(dict(arrayDeDataFrame[0].iloc[-1, 4:]), key=dict(arrayDeDataFrame[0].iloc[-1, 4:]).get)

'MM5'

In [199]:
arrayDeDataFrame[2].reset_index(inplace=True)

In [202]:
arrayDeDataFrame[1]

,dt_venda,cd_empresa,cd_mercadoria,qt_vendida,MM1,MM2,MM3,MM4,MM5,MM6,MM7,MM8,MM9,MM10,MM11,MM12
33,2018-11-23 16:01:47.804827,1.0,117679.0,398.0,398.000000,122.625616,126.035415,124.21797,120.382723,125.187859,108.812045,99.713666,91.419780,84.696684,78.280004,79.347024
34,2016-01-02 00:00:00.000000,1.0,117679.0,403.0,403.000000,400.500000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
35,2016-01-03 00:00:00.000000,1.0,117679.0,285.0,285.000000,344.000000,362.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
36,2016-01-04 00:00:00.000000,1.0,117679.0,0.0,0.000000,142.500000,229.333333,271.50000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
37,2016-01-05 00:00:00.000000,1.0,117679.0,0.0,0.000000,0.000000,95.000000,172.00000,217.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
38,2016-01-06 00:00:00.000000,1.0,117679.0,0.0,0.000000,0.000000,0.000000,71.25000,137.600000,181.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
39,2016-01-07 00:00:00.000000,1.0,117679.0,511.0,511.000000,255.500000,170.333333,127.75000,159.200000,199.833333,228.142857,0.000000,0.000000,0.000000,0.000000,0.000000
40,2016-01-08 00:00:00.000000,1.0,117679.0,630.0,630.000000,570.500000,380.333333,285.25000,228.200000,237.666667,261.285714,278.375000,0.000000,0.000000,0.000000,0.000000
41,2016-01-11 00:00:00.000000,1.0,117679.0,320.0,320.000000,475.000000,487.000000,365.25000,292.200000,243.500000,249.428571,268.625000,283.000000,0.000000,0.000000,0.000000
42,2016-01-12 00:00:00.000000,1.0,117679.0,270.0,270.000000,295.000000,406.666667,432.75000,346.200000,288.500000,247.285714,252.000000,268.777778,281.700000,0.000000,0.000000
43,2017-01-01 00:00:00.000000,1.0,117679.0,399.0,399.000000,334.500000,329.666667,404.75000,426.000000,355.000000,304.285714,266.250000,268.333333,281.800000,292.363636,0.000000
44,2017-01-02 00:00:00.000000,1.0,117679.0,352.0,352.000000,375.500000,340.333333,335.25000,394.200000,413.666667,354.571429,310.250000,275.777778,276.700000,288.181818,297.333333
45,2017-01-03 00:00:00.000000,1.0,117679.0,785.0,785.000000,568.500000,512.000000,451.50000,425.200000,459.333333,466.714286,408.375000,363.000000,326.700000,322.909091,329.583333
46,2017-01-04 00:00:00.000000,1.0,117679.0,267.0,267.000000,526.000000,468.000000,450.75000,414.600000,398.833333,431.857143,441.750000,392.666667,353.400000,321.272727,318.250000
47,2017-01-05 00:00:00.000000,1.0,117679.0,232.0,232.000000,249.500000,428.000000,409.00000,407.000000,384.166667,375.000000,406.875000,418.444444,376.600000,342.363636,313.833333
48,2017-01-06 00:00:00.000000,1.0,117679.0,232.0,232.000000,232.000000,243.666667,379.00000,373.600000,377.833333,362.428571,357.125000,387.444444,399.800000,363.454545,333.166667
49,2017-01-07 00:00:00.000000,1.0,117679.0,221.0,221.000000,226.500000,228.333333,238.00000,347.400000,348.166667,355.428571,344.750000,342.000000,370.800000,383.545455,351.583333
50,2017-01-08 00:00:00.000000,1.0,117679.0,443.0,443.000000,332.000000,298.666667,282.00000,279.000000,363.333333,361.714286,366.375000,355.666667,352.100000,377.363636,388.500000
51,2017-01-09 00:00:00.000000,1.0,117679.0,394.0,394.000000,418.500000,352.666667,322.50000,304.400000,298.166667,367.714286,365.750000,369.444444,359.500000,355.909091,378.750000
52,2017-01-10 00:00:00.000000,1.0,117679.0,323.0,323.000000,358.500000,386.666667,345.25000,322.600000,307.500000,301.714286,362.125000,361.000000,364.800000,356.181818,353.166667
53,2017-01-11 00:00:00.000000,1.0,117679.0,408.0,408.000000,365.500000,375.000000,392.00000,357.800000,336.833333,321.857143,315.000000,367.222222,365.700000,368.727273,360.500000
54,2017-01-12 00:00:00.000000,1.0,117679.0,507.0,507.000000,457.500000,412.666667,408.00000,415.000000,382.666667,361.142857,345.000000,336.333333,381.200000,378.545455,380.250000
55,2018-01-01 00:00:00.000000,1.0,117679.0,553.0,553.000000,530.000000,489.333333,447.75000,437.000000,438.000000,407.000000,385.125000,368.111111,358.000000,396.818182,393.083333
56,2018-01-02 00:00:00.000000,1.0,117679.0,549.0,549.000000,551.000000,536.333333,504.25000,468.000000,455.666667,453.857143,424.750000,403.333333,386.200000,375.363636,409.500000
57,2018-01-03 00:00:00.000000,1.0,117679.0,895.0,895.000000,722.000000,665.666667,626.00000,582.400000,539.166667,518.428571,509.000000,477.000000,452.500000,432.454545,418.666667
58,2018-01-04 00:00:00.000000,1.0,117679.0,547.0,547.000000,721.000000,663.666667,636.00000,610.200000,576.500000,540.285714,522.000000,513.222222,484.000000,461.090909,442.000000
59,2018-01-05 00:00:00.000000,1.0,117679.0,530.0,530.000000,538.500000,657.333333,630.25000,614.800000,596.833333,569.857143,539.000000,522.888889,514.900000,488.181818,466.833333
60,2018-01-06 00:00:00.000000,1.0,117679.0,449.0,449.000000,489.500000,508.666667,605.25000,594.000000,587.166667,575.714286,554.750000,529.000000,515.500000,508.909091,484.916667
61,2018-01-07 00:00:00.000000,1.0,117679.0,500.0,500.000000,474.500000,493.000000,506.50000,584.200000,578.333333,574.714286,566.250000,548.666667,526.100000,514.090909,508.166667
62,2018-01-08 00:00:00.000000,1.0,117679.0,493.0,493.000000,496.500000,480.666667,493.00000,503.800000,569.000000,566.142857,564.500000,558.111111,543.100000,523.090909,512.333333
63,2018-01-09 00:00:00.000000,1.0,117679.0,364.0,364.000000,428.500000,452.333333,451.50000,467.200000,480.500000,539.714286,540.875000,542.222222,538.700000,526.818182,509.833333
64,2018-01-10 00:00:00.000000,1.0,117679.0,595.0,595.000000,479.500000,484.000000,488.00000,480.200000,488.500000,496.857143,546.625000,546.888889,547.500000,543.818182,532.500000
32,NaT,NaN,NaN,NaN,170.570122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [201]:
arrayDeDataFrame[1][min(dict(arrayDeDataFrame[1].iloc[-1, 4:]), 
                        key=dict(arrayDeDataFrame[1].iloc[-1, 4:]).get)][len(arrayDeDataFrame[1])-2]

KeyError: 31